# Template configuration file for the loggers in the Robotics Code Generator
#

log4j.rootLogger=WARN, logfile

# Main log file
log4j.appender.logfile=org.apache.log4j.FileAppender
log4j.appender.logfile.File=robcogen.log
log4j.appender.logfile.layout=org.apache.log4j.PatternLayout
log4j.appender.logfile.layout.ConversionPattern=%-4r [%t] %-5p %c %x - %m%n


# Console output
log4j.appender.console=org.apache.log4j.ConsoleAppender
log4j.appender.console.layout=org.apache.log4j.PatternLayout
log4j.appender.console.layout.ConversionPattern=%-4r [%t] %-5p %c %x - %m%n


# Maxima (Jacomax) logging
log4j.logger.uk.ac.ed.ph.jacomax=WARN, maximalog
log4j.appender.maximalog=org.apache.log4j.FileAppender
log4j.appender.maximalog.File=maxima.log
log4j.appender.maximalog.layout=org.apache.log4j.PatternLayout
log4j.appender.maximalog.layout.ConversionPattern=%-4r [%t] %-5p %c %x - %m%n


